**/*.o
**/*.d
**/*.so
**/*.bak
daphne
daphne_log.txt
libsinge.so
libvldp2.so
logs/*
/roms/*
/singe
/vldp_dl
/src/vldp2/Makefile
/src/vldp2/autotools/Makefile
/src/vldp2/config.log
/src/vldp2/config.status
/src/vldp2/doc/.deps/
/src/vldp2/doc/Makefile
/src/vldp2/include/Makefile
/src/vldp2/include/config.h
/src/vldp2/include/stamp-h1
/src/vldp2/libmpeg2/.deps/
/src/vldp2/libmpeg2/Makefile
/src/vldp2/libmpeg2/libmpeg2.pc
/src/vldp2/libtool
/src/vldp2/libvo/.deps/
/src/vldp2/libvo/Makefile
/src/vldp2/src/.deps/
/src/vldp2/src/Makefile
/src/vldp2/test/Makefile
/src/vldp2/vc++/Makefile
